<div class="currency-app">
  <app-currency-block
    [supportedCurrencies]="supportedCurrencies"
    [currency]="leftCurrency"
    [currencyValue]="leftCurrencyValue"
    (currencyChanges)="onLeftCurrencyChange($event)">
  </app-currency-block>
  <app-currency-block
    [supportedCurrencies]="supportedCurrencies"
    [currency]="rightCurrency"
    [currencyValue]="rightCurrencyValue"
    (currencyChanges)="onRightCurrencyChange($event)">
  </app-currency-block>
</div>
<a href="https://www.exchangerate-api.com">Rates By Exchange Rate API</a>
